/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f5f7fb;
    color:#333;
    line-height:1.6;
}

/* Navbar */

.navbar{
    background:#0f172a;
    color:#fff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 8%;
    position:sticky;
    top:0;
    z-index:1000;
}

.navbar h2{
    font-size:28px;
}

.navbar a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:600;
    transition:.3s;
}

.navbar a:hover{
    color:#38bdf8;
}
/* Hero Section */

.blog-hero{
    background:linear-gradient(135deg,#2563eb,#1e40af);
    color:#fff;
    text-align:center;
    padding:70px 20px;
}

.blog-hero h1{
    font-size:48px;
    margin-bottom:15px;
}

.blog-hero p{
    max-width:750px;
    margin:auto;
    font-size:20px;
    opacity:.95;
}
