/* DELETE PAGES EXTRA CSS */

.main-btn{
    width:100%;
    margin-top:30px;
    padding:18px;
    border:none;
    border-radius:16px;
    background:linear-gradient(135deg,#2563eb,#7c3aed);
    color:white;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

.main-btn:hover{
    transform:translateY(-2px);
    box-shadow:0 8px 20px rgba(37,99,235,0.35);
}
